.row{:style => "margin-bottom: 20px"}
  .span5#headline
    %h1 Mumbai   
    %h2
      You can't fly to work, but we've got the next best thing.
    %h3
      Simply leave us your commute details and we'll arrange for you a
      %span.highlight door-to-door 
      bus with
      %span.highlight guaranteed seating
      ,
      %span.highlight flexible timings
      &amp;
      %span.highlight your level of luxury.
    %h3
      %a{:href => "#pricing"} get more info here
  .span7{:style => "display: table"}
    #new_form{:style => "display: table-cell; vertical-align: middle;"}
      = render 'intended_trips/form'
.row
  %ul.thumbnails
    %li.span4
      = image_tag 'gps.png'
      %h2
        GPS on every bus
      Wait for your bus in the comfort of your home or office, and be alerted as it approaches
    %li.span4
      = image_tag 'qrcode.png'
      %h2
        Book your seat with your mobile
      Running late? No problem. Just let us know that you'll need a seat on a later bus.
    %li.span4
      = image_tag 'bus-icon.png'
      %h2
        Enjoy stress free commutes
      in a modern and safe environment. Save money, save the earth and stay dry!

.row#pricing
  %h1 plans and pricing
    
  %h2
    %span.highlight
      Rs. 5,000
    per month for 
    %span.highlight
      a/c bus
    and
    %span.highlight
      Rs. 3,000
    per month for
    %span.highlight
      non a/c
  for trips less than 80 kms round trip. We are working on our routing algorithms that will allow us to offer cheaper trips based on the distance, but for
  the moment, kindly bear with us as we refine our pricing.

  %p 
    %h2 See how our pricing compares with other modes of transport
  %p
    %table.table
      %thead
        %tr
          %th mode of commute
          %th monthly cost
          %th comfort
          %th safety
      %tr
        %td BEST
        %td 600
        %td 1
        %td 9
      %tr
        %td train + rickshaw
        %td 1000
        %td 1
        %td 3
      %tr
        %td motorcycle
        %td 1500
        %td 3
        %td 1
      %tr
        %td rickshaw
        %td 3000
        %td 2
        %td 2
      %tr{:style => "background: lightgreen"}
        %td rBus non-a/c
        %td 3000
        %td 6
        %td 9
      %tr{:style => "background: lightgreen"}
        %td rBus a/c
        %td 5000
        %td 9
        %td 9
      %tr
        %td self driven car
        %td 12000
        %td 6
        %td 7
      %tr
        %td chauffeur-driven car
        %td 20000
        %td 9
        %td 7
  
  
.row
  %h1 frequently asked questions
  .faq
    %h3 what's the idea?
    %p
      Let's say we have 200 people who travel from Malad West to BKC every day in the morning and back in the evening. 
      If we can identify these 200 people, then some enterprising person can provide 10 twenty-seater buses, 
      leaving every ten minutes from Malad West from 7.30 am to 9.10 am. Given some support from technology, it would
      also be possible to provide guaranteed seating and using cheap GPSs we can even eliminate wait times. Thus, it should be possible to 
      provide a car-like experience (no waiting, guaranteed seating, door-to-door service) at a fraction of the price.
    %p Needless to say, the more people we have, the more efficient the network becomes and the better everyone's experience.
      
  .faq
    %h3 How does it work, exactly?
    If you leave us your commute details and spread the word far and wide amongst your social network, we are confident that we can find another 99 
    if not another 199 people who share your commute. Once we find them, we'll let you know and soon after, a bus will arrive every morning at a 
    bus-stop of your choice with a seat on it for you. The more people we find, the more buses we can run on your route, which will give you more flexibility
    in terms of timing (and drive down price as well)
  .faq
    %h3 Who are you?
    My name is Siddharth and I'm a naturalised Mumbaikar. You can find me on twitter at 
    = link_to "@_svs_", "http://twitter.com/@_svs_", :target => "_blank"
  .faq
    %h3 Great idea! How can I help?
    I'd love to work with you if you can be the tech or ops head of this venture. Get in touch! I'm also looking for interns passionate about
    impacting lives through technology.
          
        
          
        
          
          
  
            
  