:plain
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=73675367324";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


.row{:style => "margin-bottom: 20px"}
  .span5#headline
    %h1 Mumbai,   
    %h2
      Stress free commutes are here!
    %h3
      Simply leave us your commute details and we'll arrange for you a
      %span.highlight point-to-point 
      bus with
      %span.highlight guaranteed seating
      ,
      %span.highlight flexible timings
      &amp;
      %span.highlight your level of luxury.
    %div{:style => "font-family: Helvetica, Sans"}
      %h2 Not a commuter?
      %h2
        Help us spread the word on
        %a#twitter{:href => "http://clicktotweet.com/tc83f"}
          twitter
        and facebook.
      <div class="fb-like" data-href="http://rbus.in" data-send="true" data-width="400" data-show-faces="true"></div>
  .span7{:style => "display: table"}
    .row
      %a{:href => intended_trips_path(:map => true)}
        %h1{:style => "margin-bottom:10px; margin-left: 20px;"}
          %span.highlight
            = IntendedTrip.all.count
          commutes registered
    .row
      #new_form{:style => "display: table-cell; vertical-align: middle;"}
        = render 'intended_trips/form'
.row
  %ul.thumbnails
    %li.span4
      = image_tag 'gps.png'
      %h2
        GPS on every bus
      Wait for your bus in the comfort of your home or office, and be alerted as it approaches
    %li.span4
      = image_tag 'qrcode.png'
      %h2
        Book your seat with your mobile
      Running late? No problem. Just let us know that you'll need a seat on a later bus.
    %li.span4
      = image_tag 'bus-icon.png', :style => "padding-bottom: 40px"
      %h2
        Enjoy stress free commutes
      in a modern and safe environment. Save money, save the earth and stay dry!

.row#pricing
  %h1 plans and pricing
  Commuter plans start from monthly payment of 
  %span.highlight
    Rs. 1200 for trips less than 20km 
  (round trip) going up to 
  %span.highlight
    Rs. 3000 for 80 km 
  commute for 
  %span.highlight
    non a/c bus. 
  For a/c, the rates are 
  %span.highlight
    Rs. 2000 
  and 
  %span.highlight
    Rs. 5000 
  respectively.
  %span.highlight
    More people sign up, cheaper it gets!


  %p 
    %h2 See how our pricing compares with other modes of transport
    %table.table
      %thead
        %tr
          %th mode of commute
          %th monthly cost
          %th comfort
          %th safety
      %tr
        %td BEST
        %td 600
        %td very bad
        %td very good
      %tr
        %td train + rickshaw
        %td 1000
        %td very bad        
        %td bad
      %tr
        %td motorcycle
        %td 1500
        %td bad
        %td very bad
      %tr
        %td rickshaw
        %td 3000
        %td bad
        %td bad
      %tr{:style => "background: lightgreen"}
        %td rBus non-a/c
        %td 3000
        %td good
        %td very good
      %tr{:style => "background: lightgreen"}
        %td rBus a/c
        %td 5000
        %td good
        %td very good
      %tr
        %td self driven car
        %td 12000
        %td very good
        %td good
      %tr
        %td chauffeur-driven car
        %td 20000
        %td very good
        %td good
  
  
.row
  %h1 frequently asked questions
  #not_on_list.faq
    %h3 My stop is not on your list
    If you are in Navi Mumbai or Thane, your bus stop may not be listed. Please use the feedback link on top to send me your trip details (or email contact@rbus.in) 
    and I will add the relevant bus stops. If you are in Mumbai and you cannot locate your stop, try using our 
    = link_to "map interface", new_intended_trip_path
  .faq
    %h3 How does it work, exactly?
    If you leave us your commute details and spread the word far and wide amongst your social network, we are confident that we can find another 19 
    people who share your commute. Once we find them, we'll let you know and soon after, a bus will arrive every morning at a 
    bus-stop of your choice with a seat on it for you. The more people we find, the more buses we can run on your route. i.e. if we find a mere 200 people,
    we can run ten 20-seater buses, one every ten minutes or so, which gives you ample flexibility in your commute time. Running a bit late in the morning? 
    No problem. Just let us know and you can catch a later bus. Meeting finished early? Log on and switch to an earlier return trip. Magic!
  .faq#expensive
    %h3 Why is it so expensive compared to the bus/train?
    Naturally, we cannot compete with Government subsidised modes of transportation in terms of price. However, we can offer a qualitatively better experience
    to compensate for our relatively higher pricing. We do this by providing
    %ul
      %li guaranteed seating
      %li point-to-point service (faster than the bus)
      %li no bus changes en-route (get in, sit down, relax! till you reach office)
      %li no waiting at bus stops/stations - get intimated by SMS/email as bus approaches your stop.
    %h3 Will it get cheaper in time?
    %b For sure, yes!
    As the number of commuters grows, we can start using 40 seater buses instead of the 20 seaters we are using now. As we take more buses, we get volume discounts
    which we will pass on to customers. As the network grows and stabilises, and our computer algorithms get better, we will be able to offer better pricing based
    on the distance you travel. Given constant petrol prices, this is the maximum price you can expect to pay.
    %b If you are not signing up because it's too expensive, please sign up. It's only with your help can we make the service cheaper.
  .faq#in_my_city
    %h3 Can we have rBus in my city?
    rBus is currently operational only in Mumbai as that's where I live. However, if you wish to start an rBus service in your city I will provide the 
    software to manage the service there. You will have to run it under your own brand name (not rBus) and you can pay me something for the 
    software platform.  Get in touch if you'd like to provide a similar service where you live. What you will need is
    %ul
      %li latitude and longitude information for all the points you want to provide services at. Unfortunately without this information, routing becomes impossible.
      %li relationships with bus vendors and the ability to ensure that buses reach on time, are well maintained and so on.
    I will provide
    %ul
      %li The software to manage user accounts, preferences etc.
      %li Payment gateway
      %li GPS, ticketing and related technology
      %li Complaints system
      %li Routing algorithms, etc.
    and anything else to do with technology required to run this service effeciently
    
    Get in touch using the feedback form above.
  .faq
    %h3 Who are you?
    My name is Siddharth and I'm a naturalised Mumbaikar. You can find me on twitter at 
    = link_to "@_svs_", "http://twitter.com/@_svs_", :target => "_blank"
  .faq
    %h3 Great idea! How can I help?
    Get in touch! I need all the help I can get. There's a feedback link in the menu bar on the top.
        
          
        
          
          
  
            
  
