- @bus_stops = BusStop.all(:order => [:name]).map{|b| "{label: '#{b.name}', value: #{b.id}}"}.join(",\n")
:javascript
  var bus_stops = [#{@bus_stops}]
  function do_autocomplete(id) {
    $('#' + id).autocomplete({
      source: bus_stops,
      focus: function( event, ui ) {
        $( "#" + id ).val( ui.item.label );
        return false;
      },
      select: function(event, ui) {
        $('#' + id).val(ui.item.label);
        $('#intended_trip_' + id + '_stop_id').val(ui.item.value);
        return false;
      },
      change: function(event, ui) {
        if (!(ui.item)) {
          $('#intended_trip_' + id + '_stop_id').val('');
        }
      }
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
      .data( "item.autocomplete", item )
      .append( "<a>" + item.label  + "</a>" )
      .appendTo( ul );
    };
  }
  
  $(document).ready(function() {
    do_autocomplete('from');
    do_autocomplete('to');
  })


= form_for @intended_trip do |f|
  -if @intended_trip.errors.any? || (@intended_trip.user && @intended_trip.user.errors.any?)
    #error_explanation
      %h2= "#{pluralize(@intended_trip.errors.count + @intended_trip.user.errors.count, "error")} prohibited this intended_trip from being saved:"
      %ul
        - (@intended_trip.errors.full_messages + @intended_trip.user.errors.full_messages).each do |msg|
          %li= msg
  %label I live at
  = text_field_tag :from, params[:from], :class => "span4", :placeholder => "i.e. Malad West"
  = f.hidden_field :from_stop_id
  %br
  %label and work at
  = text_field_tag :to, params[:to], :class => "span4", :placeholder => "i.e. Bandra"
  = f.hidden_field :to_stop_id
  %br
  %label on
  = f.select :on, ["weekdays", "weekdays and saturday", "all days"]
  %br
  - unless current_user
    = f.fields_for :user do |u|
      %label Email
      = u.text_field :email
      %br
      %label Password
      = u.text_field :password, :placeholder => "please choose a password", :type => "password"
      %br
      %label Confirm Password
      = u.text_field :password_confirmation, :placeholder => "please type your password again", :type => "password"
  %br
  = f.submit "Register my Trip", :class => "btn btn-info"
  
