%script{:type => "text/javascript" , :src => "http://maps.googleapis.com/maps/api/js?key=#{Yetting.maps}&sensor=false"}
= javascript_include_tag 'map_functions'
= javascript_include_tag 'ui.geo_autocomplete'
:javascript
  $(document).ready(function() {
    $('#intended_trip_from_name').geo_autocomplete({
      select: function(_event, _ui) {
        if (typeof map != "undefined") {
          if (_ui.item.viewport) map.fitBounds(_ui.item.viewport);
        };
        $('#intended_trip_from_lat').attr('value',_ui.item.lat);
        $('#intended_trip_from_lng').attr('value',_ui.item.lng);
      }
    });
    $('#intended_trip_to_name').geo_autocomplete({
      select: function(_event, _ui) {
        if (typeof map != "undefined") {
          if (_ui.item.viewport) map.fitBounds(_ui.item.viewport);
        };
        $('#intended_trip_to_lat').attr('value',_ui.item.lat);
        $('#intended_trip_to_lng').attr('value',_ui.item.lng);
      }
    });

  });


= form_for @intended_trip do |f|
  -if @intended_trip.errors.any? || (@intended_trip.user && @intended_trip.user.errors.any?)
    #error_explanation
      %h2= "#{pluralize(@intended_trip.errors.count + @intended_trip.user.errors.count, "error")} prohibited this intended_trip from being saved:"
      %ul
        - (@intended_trip.errors.full_messages + @intended_trip.user.errors.full_messages).each do |msg|
          %li= msg
  %label I live at
  = f.text_field :from_name, :class => "span4", :placeholder => "Inorbit Mall", :value => params[:from]
  = f.hidden_field :from_lat
  = f.hidden_field :from_lng
  %br
  %label and work at
  = f.text_field :to_name, :class => "span4", :placeholder => "i.e. Bandra", :value => params[:to]
  = f.hidden_field :to_lat
  = f.hidden_field :to_lng
  %br
  .row
    .span2
      &nbsp;
    .span3
      - if params[:action] == "index"
        = link_to 'My bus stop is not listed', new_intended_trip_path
          
  %br
  %label on
  = f.select :on, ["weekdays", "weekdays and saturday", "all days"]
  %br
  - unless current_user
    = f.fields_for :user do |u|
      %label Email
      = u.text_field :email, :value => (params[:intended_trip][:user][:email] rescue nil)
      %br
      %label Password
      = u.text_field :password, :placeholder => "please choose a password", :type => "password", :value => (params[:intended_trip][:user][:password] rescue nil)
      %br
      %label Confirm Password
      = u.text_field :password_confirmation, :placeholder => "please type your password again", :type => "password", :value => (params[:intended_trip][:user][:password_confirmation] rescue nil)
  %br
  = f.submit "Register my Trip", :class => "btn btn-info"
  
