- if @intended_trips.count > 0
  
  %table.table
    %thead
      %tr
        %th
          From
        %th
          To
        %th
          On
        %th{:colspan => "3"}
          Actions
    - @intended_trips.each do |intended_trip|
      %tr
        %td
          = intended_trip.from_name
        %td
          = intended_trip.to_name
        %td
          = intended_trip.on
        - if intended_trip.user == current_user
          %td= link_to 'Show', intended_trip
          %td= link_to 'Edit', edit_intended_trip_path(intended_trip)
          %td= link_to 'Destroy', intended_trip, :data => {:confirm => 'Are you sure?'}, :method => :delete
  
  
