
:plain
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=73675367324";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

%div
  %h2
    %span.highlight.bigger
      = @intended_trips.count
    trips within 2 kms
  %h3 
    Spread the word!
    %br
    %a{:href => "https://twitter.com/share", :class => "twitter-share-button", :'data-text' => "Come join my commute from #{@intended_trip.from_name} to #{@intended_trip.to_name}", :'data-via' => "rbus_in", :'data-size' => "large"} Tweet
    <div class="fb-like" data-href=#{request.path} data-send="true" data-width="450" data-show-faces="true"></div>

- if @intended_trips.count > 0
  %table.table
    %thead
      %tr
        %th
          From
        %th
          To
    - @intended_trips.each do |intended_trip|
      %tr
        %td
          = intended_trip[:from_name]
          = "(#{(intended_trip[:fdist]/1000).round(2)} kms away)" rescue ""
        %td
          = intended_trip[:to_name]
          = "(#{(intended_trip[:tdist]/1000).round(2)} kms away)" rescue ""

  
  
  
