:plain
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=73675367324";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

%div
  %h2
    %span.highlight.bigger
      = @intended_trips.count
    trips nearby
  %h3
    Spread the word on 
    %a{:href => "http://clicktotweet.com/tc83f"}
      twitter
    and facebook. The more people you find to share your commute, the sooner we can arrange a bus for you all.
    <div class="fb-like" data-href="http://rbus.in" data-send="true" data-width="450" data-show-faces="true"></div>
- if @intended_trips.count > 0
  %table.table
    %thead
      %tr
        %th
          From
        %th
          To
        %th
          On
        %th start distance
        %th end distance
    - @intended_trips.each do |intended_trip|
      %tr
        %td
          = intended_trip[:trip].from_name
        %td
          = intended_trip[:trip].to_name
        %td
          = intended_trip[:trip].on
        %td
          = (intended_trip[:start_distance]/1000.0).round(2)
          kms
        %td
          = (intended_trip[:end_distance]/1000.0).round(2)
          kms
  
  
  
