- @bus_stops = BusStop.all(:order => [:name]).map{|b| "{label: '#{b.name}', value: #{b.id}, lat: #{b.lat}, lng: #{b.lng}}"}.join(",\n")
%script{:type => "text/javascript" , :src => "http://maps.googleapis.com/maps/api/js?key=#{Yetting.maps}&sensor=false"}
= javascript_include_tag 'map_functions'
:javascript

  var bus_stops = [#{@bus_stops}]
  function do_autocomplete(id) {
    $('#' + id).autocomplete({
      source: bus_stops,
      mustMatch: true,
      matchContains: true,
      focus: function( event, ui ) {
        c = new google.maps.LatLng(parseFloat(ui.item.lat), parseFloat(ui.item.lng))
        m.setPosition(c); 
        map.setCenter(c);
        map.setZoom(15);
        $( "#" + id ).val( ui.item.label );
        return false;
      },
      select: function(event, ui) {
        c = new google.maps.LatLng(parseFloat(ui.item.lat), parseFloat(ui.item.lng))
        m.setPosition(c); 
        map.setCenter(c);
        map.setZoom(15);
        loadBusStops(map.getBounds());
        $('#' + id).val(ui.item.label);
        $('#intended_trip_' + id + '_stop_id').val(ui.item.value);
        return false;
      },
      change: function(event, ui) {
        if (!(ui.item)) {
          $(this).val('');
          $('#intended_trip_' + id + '_stop_id').val('');
        }
      }
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
      .data( "item.autocomplete", item )
      .append( "<a>" + item.label  + "</a>" )
      .appendTo( ul );
    };
  }
  
  $(document).ready(function() {
    do_autocomplete('from');
    do_autocomplete('to');
    map = new google.maps.Map(document.getElementById("map"), { mapTypeId: google.maps.MapTypeId.ROADMAP, center: new google.maps.LatLng(19.09, 72.91), zoom: 11 });
    m = new google.maps.Marker({map: map, position: map.getCenter()});
    google.maps.event.addListener(map, 'moveend', function() {
      loadBusStops(map.getBounds());
    });
    google.maps.event.addListener(map, 'dragend', function() {
      loadBusStops(map.getBounds());
    });

  })

%h1 Register a New Commute

.row
  .span5
    = render 'form'
  .span6
    #map{:style => "width: 100%; height: 500px;"}
