%script{:type => "text/javascript" , :src => "http://maps.googleapis.com/maps/api/js?key=#{Yetting.maps}&sensor=false"}
= javascript_include_tag 'map_functions'
= javascript_include_tag 'ui.geo_autocomplete'
:javascript

  
  function loadGeoAutocomplete() {
    map = new google.maps.Map(document.getElementById("demo2_map"), { mapTypeId: google.maps.MapTypeId.ROADMAP, center: new google.maps.LatLng(19.09, 72.91), zoom: 11 });
    showBusStops = false;
    var m;
    google.maps.event.addListener(map, 'click', function(event) {
      $('#bus_stop_lat').val(event.latLng.lat());
      $('#bus_stop_lng').val(event.latLng.lng());
      if (m) {
        m.setPosition(event.latLng); 
      } else {
        m = new google.maps.Marker({map: map, position: event.latLng});
      }
    });
    google.maps.event.addListener(map, 'moveend', function() {
      loadBusStops(map.getBounds());
    });
    google.maps.event.addListener(map, 'dragend', function() {
      loadBusStops(map.getBounds());
    });

    $('#bus_stop_name').geo_autocomplete({
      select: function(_event, _ui) {
        if (_ui.item.viewport) map.fitBounds(_ui.item.viewport);
        $('#bus_stop_lat').attr('value',_ui.item.lat);
        $('#bus_stop_lng').attr('value',_ui.item.lng);
        loadBusStops(map.getBounds());
      }
    });
  }
  $(document).ready(function() { loadGeoAutocomplete(); showBusStops = true})

.row
  .span3
    = form_for(@bus_stop) do |f|
      - if @bus_stop.errors.any?
        #error_explanation
          %h2
            = pluralize(@bus_stop.errors.count, "error")
            prohibited this bus_stop from being saved
    
          %ul
            - @bus_stop.errors.full_messages.each do |msg|
              %li
                = msg
      %label Name
      = f.text_field :name
    
      
    
      %br
      %label Lat
      = f.text_field :lat
      %br
      %label Lng
      = f.text_field :lng
      = f.submit
  .span8
    #demo2_map{:style => "width: 100%; height: 500px;"}
      